header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-content: center;
  align-items: center;
  height: 80px;
  padding: 1rem 8rem;
  background-color: var(--white);
}

.header__logo {
  padding: 0.3rem;
  cursor: pointer;
  img {
    object-fit: cover;
    width: 317px;
    height: auto;
  }
}

.header__list {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  padding: 0 2rem;
  justify-content: center;
  grid-gap: 4rem;
  a {
    font-family: "roboto-medium";
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
  }
}

.header__list--active {
  color: var(--dark-lime-green);
}

.header__button {
  cursor: pointer;
  width: 185px;
  height: 40px;
  border: none;
  background-color: var(--dark-lime-green);
  color: var(--white);
  font-size: 1.6rem;
}
