:root {
  --greyish: #afafaf;
  --dark-grey: #1e1e1e;
  --black: #000000;
  --grey-medium: #666666;
  --white: #ffffff;
  --black-three: #292929;
  --golden-rod: #f1cb15;
  --dark: #253342;
  --grey-dark: #1e1e1e;
  --dark-lime-green: #76b900;
  --input-placeholder: #8e9fad;
  --green: #76b900;
}
